html{
	font-family:monospace;
}
body{
	background-image: url("../img/background.jpg");
}
h1{
	text-align: center;
	background-color:white;
}
table{
	background-color: white;
}
h2{
	text-align: center;
	background-color: white;
}
table{
	margin:auto;
	border:auto;
	border-color:black;
}
a{
	margin: auto;
}
h3{
	text-align:center;

}